$inputBtnBgColor: #0f1041;
$inputBtnBgColorHover: #f58429;
$fingerPrintColor: rgb(154, 167, 254);
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  @extend .flexbox;
  flex-direction: column;
  height: 60%;
  &__header {
    P {
      font-weight: bold;
      margin-bottom: 20px;
      color: #0f1041;
    }
  }
  &__inputBtnHolder {
    display: flex;
    gap: 10px;

    &__input {
      input {
        margin-right: 5px;
        padding: 8px;
        border-radius: 5px;
        box-shadow: 0 0 3px 0.75px gray;
        border: none;
        outline: none;
      }
      &__01 {
        width: 300px;
      }
    }
    &__btn {
      Button {
        margin-right: 5px;
        padding: 4px;
        background-color: $inputBtnBgColor;
        color: white;
        border: none;
        outline: none;
        border-radius: 3px;
        &:hover {
          background-color: $inputBtnBgColorHover;
          cursor: pointer;
        }
      }
    }
  }
  &__img1 {
    img {
      height: 120px;
      width: 130px;
      position: absolute;
      left: 70px;
      top: 280px;
      border-radius: 10px 50px;
      z-index: 10;
    }
  }
  &__img2 {
    img {
      height: 120px;
      width: 130px;
      position: absolute;
      left: 180px;
      top: 300px;
      z-index: 5;
      border-radius: 50px 10px;
    }
  }
  &__img3 {
    img {
      height: 140px;
      width: 120px;
      box-shadow: 0 0 3px 0.75px gray;
      position: absolute;
      right: 180px;
      top: 350px;
      border-radius: 40px 5px 5px 0;
      z-index: 2;
    }
  }
  &__info {
    height: 50px;
    width: 190px;
    position: absolute;
    top: 450px;
    right: 250px;
    background-color: white;
    font-size: 12px;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0 0 3px 0.75px gray;
    z-index: 4;
    p {
      font-size: 10px;
      color: $inputBtnBgColorHover;
      margin-bottom: 5px;
    }
  }

  &__svg1 {
    position: absolute;
    top: 430px;
    right: 140px;
    .MuiSvgIcon-root {
      color: $fingerPrintColor;
      font-size: 100px;
      opacity: 0.7;
    }
  }
  &__svg_group {
    position: absolute;
    top: 450px;
    left: 30px;
    animation: bottomToUp 6s ease-in;
    animation-delay: 1s;
  }
  &__svg2 {
    .MuiSvgIcon-root {
      color: $fingerPrintColor;
      font-size: 60px;
    }
  }
  &__svg3 {
    position: absolute;
    top: 230px;
    right: 140px;
    display: flex;
    margin-top: -10px;
    opacity: 0.8;
    animation: rotate 6s linear infinite;
    .MuiSvgIcon-root {
      color: $inputBtnBgColorHover;
      font-size: 20px;
      opacity: 0.7;
      margin-right: -5px;
    }
    .m {
      margin-top: -8px;
    }
  }
  @keyframes bottomToUp {
    0% {
      top: -450px;
      left: -30px;
    }
    100% {
      top: 450px;
      left: 30px;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
